@font-face {
	font-family: Alibaba;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/eot/Alibaba-Regular.eot');
	src: url('fonts/eot/Alibaba-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/woff2/Alibaba-Regular.woff2') format('woff2'),
		 url('fonts/woff/Alibaba-Regular.woff') format('woff'),
		 url('fonts/ttf/Alibaba-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'Alibaba', Arial, sans-serif;
}

/* Breadcrumbs Wrapper */
.c-breadcrumbs__wrap {
    position: absolute;
    padding: 15px 160px;
    z-index: 2;
}

/* Breadcrumb Container */
.c-breadcrumbs {
    display: flex;
    align-items: center;
}

/* Breadcrumb List */
.c-breadcrumbs__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: #fadf49;
    border-radius: 20px;
    padding: 4px 16px 2px;
}

/* Breadcrumb Item */
.c-breadcrumbs__item {
    font-size: 14px;
    font-weight: 500;
    color: #004075; /* Blue color */
}

/* Breadcrumb Links */
.c-breadcrumbs__link {
    text-decoration: none;
    color: #004075;
    transition: color 0.3s ease;
}

.c-breadcrumbs__link:hover {
    color: #005ca8; /* Darker blue on hover */
}

/* Breadcrumb Separator (Arrow) */
.c-breadcrumbs__item:not(:last-child)::after {
    content: "›";
    margin: 0 8px;
    color: #004075;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

/* Active (Current) Breadcrumb */
.c-breadcrumbs__item:last-child .c-breadcrumbs__link {
    color: #6c757d; /* Gray for the active page */
    pointer-events: none; /* Disable link */
    cursor: default;
}


.blog-banner {
    height: 100vh; /* Adjust banner height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: #004075;
    overflow: hidden;
}

.blog-banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blog-banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.4); Semi-transparent overlay */
}
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.blog-banner-content {
    position: relative;
    z-index: 2;
    margin: 5px 10px;
}

.blog-banner-content {
    background-color: rgba(255, 224, 0, .8);
    border-radius: 8px;
    position: relative;
    z-index: 1;
    width: 100%;
}

.fw-bold {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.25;
    border-bottom: 1px solid #fff0a4;
    padding: 42px 30px 30px;
}

.blog-content-extra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 24px;
}

.tags {
    width: 25%;
    display: flex;
    justify-content: flex-start;
}
.tag {
    background-color: #ffe000;
    border-radius: 10px;
    color: #005ca8;
    display: inline-flex;
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: .6px;
    line-height: 1.2;
    padding: 5px 15px 5px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5px;
}
.c-share {
    position: relative;
    z-index: 2;
    width: 25%;
    display: inline-flex;
    justify-content: flex-end;
}
.c-button--share {
    color: #005ca8;
    cursor: pointer;
    display: inline-flex;
    justify-content: flex-end;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: .8px;
    line-height: 1.2;
    text-transform: uppercase;
    white-space: nowrap;
}

.c-button--share-icon {
    color: #005ca8;
    display: inline-block;
    height: 16px;
    margin-right: 8px;
    position: relative;
    top: 4px;
    width: 20px;
}
.c-share__buttons {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    margin-left: 45px;
    margin-top: 5px;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.c-share__buttons li {
    display: inline-block;
    margin: 0 15px 0 0 !important;
}
.c-share__buttons svg {
    height: 16px;
    fill: white;
}
.c-share__buttons span {
    height: inherit;
    line-height: inherit;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #005ca8;
}
.c-button--share:hover .c-share__buttons {
    opacity: 1;
    transform: translateY(0);
}
.blog-meta {
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 0;
    width: 50%;
    transition: opacity .05s ease .15s;
}
.blog-meta.hide {
    opacity: 0;
    transition: opacity .05s ease 0s;
    z-index: -5;
}
.c-rounded--white {
    color: #fff;
}
.c-rounded--bottom {
    margin-top: -30px;
}

.blog-content {
    max-width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 25px;
    position: relative;
}

.c-social-share-float {
    position: sticky;
    scroll-behavior: smooth;
    height: calc(100% - 100px);
    right: 0;
    top: 40px;
    width: 200px;
    z-index: 5;
}

.c-social-share-float__wrap {
    right: 100px;
    width: 30px;
    line-height: 0;
    position: relative;
    text-align: center;
}

.c-social-share__label {
    font-size: .65rem;
    font-weight: 600;
    letter-spacing: .8px;
    line-height: 2.5;
    text-transform: uppercase;
    width: 30px;
    margin-top: 45px;
}

.c-social-share__label span {
    display: inline-block;
    position: relative;
    transform:  translateX(58%) translateY(10%) rotate(-90deg);
    transform-origin: 0 0;
    white-space: nowrap;
    color: #005ca8;
}

.ss-inline-share-wrapper {
    padding-top: 40px;
}

.ss-inline-share-wrapper:before {
    background-color: #ffe000;
    content: "";
    height: 34px;
    left: 50%;
    position: absolute;
    top: 13px;
    width: 1px;
}

.ss-inline-share-wrapper .ss-inline-share-content {
    display: inline-flex;
    align-items: center;
}

.c-social-share__buttons .ss-social-icons-container {
    display: inline-block;
    margin: 0 !important;
    padding: 0;
    list-style: none;
}

.ss-inline-share-wrapper.ss-with-spacing .ss-social-icons-container>li {
    float: right;
    margin: 0 0px 6px 0 !important;
}

.ss-inline-share-wrapper .ss-social-icons-container>li>a {
    display: inline-flex;
    fill: #fff !important;
    border-radius: 52px;
    overflow: hidden;
    padding: 0;
    background-color: #005ca8;
    box-sizing: content-box;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 42px;
    vertical-align: middle;
    font-size: 16px;
    text-decoration: none !important;
}
.ss-inline-share-wrapper .ss-social-icons-container>li>a:hover {
    background-color: #004075;
}
.c-social-share__buttons .ss-social-icons-container li a i {
    line-height: 32px;
    min-width: 24px !important;
    width: 24px !important;
}

.ss-inline-share-wrapper.ss-small-icons .ss-social-icons-container>li>a svg {
    height: 16px;
    z-index: 1;
    margin-top: 15px;
}

.ss-inline-share-wrapper .ss-social-icons-container>li>a .ss-copy-color {
    background-color: #6c757d;
}

.ss-inline-share-wrapper .ss-social-icons-container>li>a .ss-copy-color:hover {
    background-color: #323B43;
}

#toc {
    position: sticky;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    top: 150px;
    transform: none;
    z-index: 6;
    margin-top: 110px;
    max-height: 140px;
    overflow: auto;
    margin-right: -40px;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li:not(:last-child) {
    margin-bottom: 16px;
}

#toc li {
    position: relative;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 400;
    height: 18px;
    line-height: 1.2;
    list-style-type: none;
}

#toc li.active,
#toc li:hover {
    font-weight: 600;
}

#toc li a {
    display: block;
    padding-right: 13px;
    text-decoration: none !important;
    color: #005ca8;
}

#toc li a:before {
    box-sizing: border-box;
    border: 1px solid #005ca8;
    border-radius: 50%;
    content: "";
    display: block;
    height: 7px;
    right: 0;
    position: absolute;
    top: 4px;
    width: 7px;
}

#toc li a:hover:before {
    background-color: #005ca8; /* Fill bullet on hover */
}

#blog-description {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: wrap;
    flex: 0 0 50%;
    margin-top: -300px;
    margin-left: 400px;
    margin-right: 400px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.c-spacer--80 {
    height: 80px;
}

.section h3 {
    color: #005ca8;
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 10px;
    scroll-margin-top: 120px;
}

.section p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: 32px;
    margin: 0 0 16px;
    color: #4f4f4f;
}