@font-face {
	font-family: Alibaba;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/eot/Alibaba-Regular.eot');
	src: url('fonts/eot/Alibaba-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/woff2/Alibaba-Regular.woff2') format('woff2'),
		 url('fonts/woff/Alibaba-Regular.woff') format('woff'),
		 url('fonts/ttf/Alibaba-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'Alibaba', Arial, sans-serif;
}

.c-breadcrumbs {
    margin-bottom: 20px;
    font-size: 14px;
}
.c-breadcrumbs__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.c-breadcrumbs__item {
    margin-right: 10px;
}
.c-breadcrumbs__link {
    text-decoration: none;
    color: #275DA3;
}
.c-breadcrumbs__link:hover {
    text-decoration: underline;
}
.c-breadcrumbs__link svg {
    margin-right: 5px;
    vertical-align: middle;
}